<!DOCTYPE html>
<html>

   <head>
      <title>Backend Challenges | Free Code Camp</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>Timestamp microservice</h1>
         <p>Pass a string as the parameter and the microservice will check if it contains a <b>Unix Time Stamp (1507377234)</b> or a <b>Natural Language Timestamp (October 7, 2017).</b></p>
      </div>
     
     <div align = "left">
       <h3>Usage example:</h3>
       <code>
         https://statuesque-corn.glitch.me/1507334400
       </code><br/>
       <code>
         https://statuesque-corn.glitch.me/October%207,%202017
       </code>
       <h3>
         Output:
       </h3>
       <code>
         {"unix":1507334400,"natural":"October 7, 2017"}
       </code>
     </div>
  
   </body>

</html>
